server {
    listen 80;

    # This is here because css caches if it isnt
    # https://jeremyfelt.com/2013/01/08/clear-nginx-cache-in-vagrant
    sendfile off;

    server_name symfony2;
    root /usr/share/nginx/html/web;

    error_log /var/log/nginx/api.error.log;
    access_log /var/log/nginx/api.access.log timed_combined;

    rewrite ^/index\.php/?(.*)$ /$1 permanent;

    location / {
        index index.php;
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /index.php/$1 last;
    }

    location ~ ^/(index|config)\.php(/|$) {
        fastcgi_param ENVIRONMENT {{ php_environment }};
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param  HTTPS off;
    }
}
