{# 
 # file: api-ansible/roles/jenkins-node-slave/templates/aws-credentials.j2
 #}
[api.shoppinglist.bucketwriter]
aws_access_key_id = {{ asl_bucket_aws_access_key }}
aws_secret_access_key = {{ asl_bucket_aws_secret_key }}
