#!/bin/bash

# {{ ansible_managed }}

# Auto-genned for {{ inventory_hostname_short }} by Ansible

# This is the service script that is installed on the server.
# When run, it will trigger npm start to start node which triggers sageNodeServer.sh in the api-main repo


start() {
  cd /var/www/sage/v2
  echo "Starting Node"
  export location={{ node_environment }}
  npm start
  chown -R www-data:www-data /var/www/sage/v2/logs
}

stop() {
  cd /var/www/sage/v2
  npm stop
}

restart() {
  stop
  start
}

status() {
  pm2 list
}


echo "Starting Sage"

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status
    ;;
  restart)
    restart
    ;;
  *)
    echo "Usage: {start|stop|status|restart}"
    exit 1
    ;;
esac

exit $RETVAL
