{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "s3:Get*",
        "s3:List*"
      ],
      "Resource": [
        "arn:aws:s3:::wfm-api-llc-redshift-reports/integration/{{ item }}",
        "arn:aws:s3:::wfm-api-llc-redshift-reports/integration/{{ item }}/*",
        "arn:aws:s3:::wfm-api-llc-redshift-reports/qa/{{ item }}",
        "arn:aws:s3:::wfm-api-llc-redshift-reports/qa/{{ item }}/*"
      ]
    }
  ]
}